// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Device Tree file for S32G399ARDB3 Board Rev E.
 *
 * Copyright 2022-2024 NXP
 */

/dts-v1/;

#include "s32g3.dtsi"
#include "s32gxxxa-rdb.dtsi"

/ {
	model = "NXP S32G3 Reference Design Board (S32G-VNP-RDB3)";
	compatible = "nxp,s32g399a-rdb3", "nxp,s32g3";
};

&gmac0_mdio {
	/* AQR113C */
	gmac_mdio_a_phy8: ethernet-phy@3 {
		compatible = "ethernet-phy-ieee802.3-c45";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <8>;
	};
};

/* UART (J2) to Micro USB port */
&uart0 {
	status = "okay";
};

/* UART (J1) to Micro USB port */
&uart1 {
	status = "okay";
};

&qspi {
	status = "okay";
};

&serdes0 {
	status = "okay";
};

&serdes1 {
	status = "okay";
};

&i2c4 {
	ina231@40 {
		compatible = "ti,ina231";
		reg = <0x40>;
		shunt-resistor = <1000>;
	};
};

&pfe_netif1 {
	phy-mode = "sgmii";
	phy-handle = <&gmac_mdio_a_phy8>;
};

&swt8 {
	status = "okay";
};

&swt9 {
	status = "okay";
};

&swt10 {
	status = "okay";
};

&swt11 {
	status = "okay";
};

&usdhc0 {
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	disable-wp;
	/* Remove no-1-8-v to enable higher speed modes for SD card such as: SDR50 or DDR50
	 * or eMMC memory, such as HS200, HS400 or HS400 ES respectively.
	 */
	no-1-8-v;
};

/*zhdz add*/
// &spi1 {
// 	#address-cells = <1>;
// 	#size-cells = <0>;
//     status = "okay";

//     fram0: cy15b116q-sxet@0 {        
// 	compatible = "cypress,fm25";
//     reg = <0>;
//     spi-max-frequency = <20000000>;
//     status = "okay";
//     };
// };

&pinctrl {
	dspi2_pins: dspi2_pins {
		dspi2_grp0 {
			pinmux = <S32CC_PINMUX(157, FUNC2)>;//MOSI PJ_13 A11 GPIO157
			output-enable;
			slew-rate = <S32CC_GPIO_3V3_SLEW_50MHZ>;
		};

		dspi2_grp1 {
			pinmux = <S32CC_PINMUX(155, FUNC2)>;//CS E12 PJ_11 GPIO155
			output-enable;
			input-enable;
			slew-rate = <S32CC_GPIO_3V3_SLEW_50MHZ>;
			bias-pull-up;
		};

		dspi2_grp2 {
			pinmux = <S32CC_PINMUX(153, FUNC2)>;//SCK B12 PJ_09 GPIO153
			output-enable;
			input-enable;
			slew-rate = <S32CC_GPIO_3V3_SLEW_50MHZ>;
		};

		dspi2_grp3 {
			pinmux = <S32CC_PINMUX(158, FUNC0)>;//MISO C16 PJ_14 GPIO158
			input-enable;
			slew-rate = <S32CC_GPIO_3V3_SLEW_50MHZ>;
			bias-pull-up;
		};

		dspi2_grp4 {
			pinmux = <S32CC_PINMUX(990, FUNC2)>,//CS
				 	 <S32CC_PINMUX(991, FUNC3)>,//SCK
				     <S32CC_PINMUX(992, FUNC3)>;//MISO
		};
	};

	uart2_pins: uart2_pins {
		uart2_pins_grp0 {
			pinmux = <S32CC_PINMUX(171, FUNC2)>;
			output-enable;
			slew-rate = <S32CC_GPIO_3V3_SLEW_50MHZ>;
		};

		uart2_pins_grp1 {
			pinmux = <S32CC_PINMUX(172, FUNC0)>;
			input-enable;
			slew-rate = <S32CC_GPIO_3V3_SLEW_50MHZ>;
		};

		uart2_pins_grp2 {
			pinmux = <S32CC_PINMUX(737, FUNC4)>;
		};
	};
};

&spi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&dspi2_pins>;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	spi-num-chipselects = <1>;

    fram2: cy15b116q-sxet@0 {        
		compatible = "cypress,fm25";
    	reg = <0>;
    	spi-max-frequency = <20000000>;
    	// spi-max-frequency = <100000>;
		size = <1000000>;
    	status = "okay";
    };
};

&uart2 {
	pinctrl-0 = <&uart2_pins>;
	pinctrl-names = "default";
	status = "okay";
};